<div class="uk-section">
	<div class="uk-container">
    <hr class="uk-divider-icon">
    <p class=" h1 card-title uk-text-center uk-text-success ">لماذا نحن ؟</p>

		<p class="uk-text-center uk-text-bolder uk-text-large uk-height-small">
      خدمة ألكترونية بالكامل
    </p>
		<div class="uk-child-width-1-4@m uk-grid-match uk-text-center uk-margin-medium-top" uk-grid>
			<div class="uk-animation-toggle">
				<div class="uk-card uk-card-primary uk-box-shadow-medium uk-card-hover uk-card-body uk-inline uk-animation-shake">
					<span uk-icon="icon: cog; ratio: 4"></span>
					<h3 class="uk-card-title uk-margin uk-text-bolder">صيانة أحترفية</h3>
					<p class=" uk-text-default">سوف نعمل مستقبلاً على إدراج قسم للمهنين الذين تمت تقييم عملهم بجودة عالية  </p>
				</div>
			</div>
      <!-- card 2 -->
      <div class="uk-animation-toggle">
				<div class="uk-card uk-card-success uk-box-shadow-medium uk-card-hover uk-card-body uk-inline uk-animation-shake">
					<a class="uk-position-cover" href="#"></a>
					<span uk-icon="icon: thumbnails; ratio: 4"></span>
					<h3 class="uk-card-title uk-margin uk-text-bolder">خدمات متكاملة </h3>
					<p class=" uk-text-default">نحن نشترط من جميع المهنيين المسجلين لدينا ان يكونوا لديهم كل أدواتهم الازمة للقيام بأعمالهم </p>
				</div>
			</div>
			<div  class="uk-animation-toggle">
				<div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline uk-animation-shake">
					<a class="uk-position-cover" href="#"></a>
					<span uk-icon="icon:commenting; ratio: 4"></span>
					<h3 class="uk-card-title uk-margin">دعم فني </h3>
					<p class=" uk-text-default">استخدام سهل للمنصة ووجود فريق دعم فني في حال مواجهة اي مشاكل من قبل المستخدمين </p>
				</div>
			</div>
			<div  class="uk-animation-toggle">
				<div class="uk-card uk-card-secondary uk-box-shadow-medium uk-card-hover uk-card-body uk-inline uk-animation-shake">
					<a class="uk-position-cover" href="#"></a>
					<span uk-icon="icon: settings; ratio: 4"></span>
					<h3 class="uk-card-title uk-margin">مصدر للدخل </h3>
					<p class=" uk-text-default">تنمية أقتصادية للمجتمع من خلال توظيف طاقاته البشرية وتمكينها </p>
				</div>
			</div>
		</div>
	</div>
</div>
