<!-- ! Login Admin -->
<section>
  <div class="login-admin-style uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
    <div class="uk-width-1-1">
      <div class="uk-container">
        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
          <div class="uk-width-1-1@m">
            <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
              <p class="uk-card-title uk-text-center uk-text-primary uk-text-bolder uk-text-large uk-margin-small-bottom">
               تسجيل دخول أدمن   </p>

              <!-- Syntax Angular Form here -->
              <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                <!-- phone number input -->
                <div class="">
                  <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-position-small uk-position-top-left" uk-icon="icon: phone"></span>
                    <input class="uk-input uk-form-large uk-placeholder uk-text-center" type="text"
                      placeholder="رقم الهاتف" name="phoneNumber" [(ngModel)]="form.phoneNumber" required minlength="10"
                      #phoneNumber="ngModel">

                  </div>
                  <!--* check phone number filed  -->
                  <div class="uk-alert-danger" uk-alert *ngIf="phoneNumber.errors && f.submitted">
                    <div *ngIf="phoneNumber.errors.required">
                      <p class="lead">
                        رقم الهاتف مطلوب
                      </p>
                    </div>
                    <div *ngIf="phoneNumber.errors.minlength">
                      <p class="lead"> رقم الهاتف 10 ارقام بدون رمز دولي</p>
                    </div>
                  </div>
                </div>

                <!-- password input minimum 6 char  -->
                <div class="uk-form-password">
                  <div class="uk-inline uk-width-1-1">
                    <a class="uk-form-icon uk-position-small uk-position-top-left">
                      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </a>
                    <!-- input password filed -->
                    <input class="uk-input uk-form-large uk-placeholder uk-text-center"
                      [type]="hide ? 'password' : 'text'" placeholder="كلمة المرور " name="password"
                      [(ngModel)]="form.password" required minlength="6" #password="ngModel">
                  </div>
                  <!--* check password required and minimum 6 char -->
                  <div class="uk-alert-danger" uk-alert *ngIf="password.errors && f.submitted">
                    <p class="lead">كلمة المرور مطلوبة اقل طول 6 حروف</p>
                  </div>
                </div>

                <!-- submit input  -->
                <div class="uk-margin-medium-top">
                  <button class="uk-button uk-button-primary uk-button-large  uk-text-bolder uk-width-1-1">تسجيل دخول
                  </button>
                </div>
                <!-- check if error register  -->
                <div class="uk-margin-medium-top">
                  <div class="uk-alert-danger" uk-alert *ngIf="f.submitted && isLoginFailed">
                    <p class="lead">فشل تسجيل الدخول</p>
                    <p class="lead">{{errorMessage}}</p>
                  </div>
                </div>
                <!-- if have account ready -->
                <!-- <div class="uk-text-default uk-text-center uk-margin-medium-top">
                  لاامتلك حساباً <a routerLink="../../user/registerUser"> انشاء حساب</a>
                </div> -->

              </form>
              <div class="alert alert-success" *ngIf="isLoggedIn">
                <p class="lead">تم تسجيل الدخول  الادمن </p>
                <p class="lead">{{ roles }}</p> .
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

