<div class="section-user-body  w-100 py-5 px-5 h-auto">
  <!-- Object.keys -->
  <div class="w-100 mt-2" >
    <p class="text-info fw-bolder h3 my-3">معلومات المستخدمين


    <hr>
    <div class="mx-auto ">
      <div class="d-flex justify-content-center p-4">
          <button class=" btn btn-info text-white btn-lg fs-6 mx-auto" (click)="ShowUsersFun()">جدول الزبائن </button>
          <button
          class=" btn btn-dark text-white btn-lg fs-6 mx-auto"
          (click)="ShowWorkersFun()"
          >جدول المهنيين </button>
          <!-- <button class=" btn btn-dark text-white btn-lg fs-6 mx-auto">جدول الاشخاص المحضورين </button> -->
      </div>
      <div class="border-info box-table">
        <p class="alert-dark lead alert " [hidden]="ShowUsers">هنا تظهر معلومات المستخدمين</p>
        <p class="text-dark lead my-3" [hidden]="ShowUsers">عدد المستخدمين الكلي :  <span class="  ">{{clientUser.length}}</span> </p>
        <!-- WorkerUser -->
        <p class="text-dark lead my-3" [hidden]="ShowUsers||ShowWorkers">عدد المهنيين الكلي :  <span class="  ">{{WorkerUser.length}}</span> </p>
        <!--  * table for clients  -->
        <table class="table table-hover w-auto text-center uk-animation-fade table-center" *ngIf="ShowDefault==='user'">
          <thead>
            <tr class="fw-bolder text-warning h6">
              <th scope="col">#</th>
              <th scope="col">اسم المستخدم </th>
              <th scope="col">رقم الهاتف</th>
              <th scope="col">نوع المستخدم</th>
              <th scope="col">تاريخ إنشاء الحساب </th>
              <th scope="col">تعديل الحالة</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of clientUser ; index as i">
            <tr class="center">
              <th scope="row">{{i+1}}</th>
              <td>{{item.username}}</td>
              <td>{{item.phoneNumber}}</td>
              <!-- | date :'shortDate' -->
              <!-- <td>{{item.timeOrder | date :'short'}}</td> -->


               <!-- typeUser -->
               <td>{{item.typeUser}}</td>
               <!-- createdAt -->
               <td>{{item.createdAt | date:'short'}}</td>

               <td>
                 <!-- blockedUserFun(item.phoneNumber) -->
                 <button class="btn btn-danger w-100" *ngIf="item.activeUser===true" (click)="blockedUserFun(item.phoneNumber)" >حظر</button>
                 <button class="btn btn-success w-100" *ngIf="item.activeUser===false" (click)=" unBlockedUserFun(item.phoneNumber)">الغاء الحظر</button>
                </td>
            </tr>
          </tbody>
       </table>


            <!-- * table for Workers  -->
      <table class="table table-hover w-auto text-center uk-animation-fade table-center" *ngIf="ShowDefault==='worker'" >
        <thead>
          <tr class="fw-bolder text-warning h6">
            <th scope="col">#</th>
            <th scope="col">اسم المهني </th>
            <th scope="col">رقم الهاتف</th>
            <th scope="col">الخدمة المقدمة </th>
            <th scope="col">تاريخ إنشاء الحساب </th>

            <th scope="col">تعديل الحالة</th>
            <th scope="col">عدد طالبيه </th>
          </tr>
        </thead>
        <tbody *ngFor="let item of WorkerUser ; index as i">
          <tr class="center">
            <th scope="row">{{i+1}}</th>
            <td>{{item.username}}</td>
            <td>{{item.phoneNumber}}</td>
            <!-- | date :'shortDate' -->
            <!-- <td>{{item.timeOrder | date :'short'}}</td> -->


              <!-- typeUser -->
              <td>{{item.service}}</td>
              <!-- createdAt -->
              <td>{{item.createdAt | date:'short'}}</td>

              <td>
                <!-- blockedUserFun(item.phoneNumber) -->
                <button class="btn btn-danger w-100" *ngIf="item.activeUser===true" (click)="blockedUserFun(item.phoneNumber)" >حظر</button>
                <button class="btn btn-success w-100" *ngIf="item.activeUser===false" (click)=" unBlockedUserFun(item.phoneNumber)">الغاء الحظر</button>
              </td>
          </tr>
        </tbody>
          </table>
      </div>


    </div>



  </div>

</div>



