.section-user-body{
  direction: rtl !important;
  // width: 100vw;
height: auto;
width: 100%;
margin-bottom: 130px !important;
// text-align: center;
// text-align: center;
// align-items: center;
// justify-content: center;
}

.box-table{
  width: 100%;
  margin:15px auto ;
  padding: 20px;
  border-radius: 3%;
  border:1px solid #000
}
.table-center{
  max-width: auto;
  width: 700px;
  margin: auto;
}
