

  <nav class="uk-navbar-container uk-dark" uk-navbar  data-uk-sticky>
    <div class="uk-container">
    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">

            <li>
                <a href="#">Admin Dashboard </a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </li>
            <li><a routerLink='/home'>الصفحة الرئيسية </a></li>
            <li><a routerLink='/service-us'>خدماتنا </a></li>
            <li><a routerLink='/Q&A'>الأسئلة الشائعة</a></li>
          
            <li><a href="#">البحث عن خدمة  </a></li>
            <li><a href="#">تسجيل دخول</a></li>
        </ul>

    </div>
    </div>
  </nav>


