<nav class="navbar navbar-expand-md  fixed-top navbar-light bg-light mb-5 mb-lg-5 py-4 fw-bolder text-dark">

  <div class="container text-center">
    <button class="navbar-toggler text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
      <!-- <span class="navbar-toggler-icon"></span> -->
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="">

        <ul class="navbar-nav me-auto mb-2 mb-md-0">

          <li class="nav-item px-3">
            <!-- admin -->
            <a
             class="nav-link"
             routerLink='/admin/dashboard/dashboard-space'>لوحة التحكم</a>

          </li>


          <li class="nav-item px-3"><a
            class="nav-link"
             routerLink='/home'>الصفحة الرئيسية </a></li>

          <li class="nav-item px-3"><a  class="nav-link"
            routerLink='/service-us'>خدماتنا </a></li>

          <li class="nav-item px-3"><a   class="nav-link"
            routerLink='/Q&A'>الأسئلة الشائعة</a></li>
  <!-- searchWorker -->
          <li class="nav-item px-3"><a  class="nav-link"
             routerLink='/searchWorker'>البحث عن خدمة </a></li>

            <li class="nav-item px-3"*ngIf="!isLoggedIn&&!isAdminLogin">
              <a   class="nav-link" routerLink="user/registerUser">أنشاء حساب </a>
            </li>
            <li class="nav-item px-3" *ngIf="!isLoggedIn&&!isAdminLogin">
              <a  class="nav-link " routerLink="user/registerWorker">أنشاء حساب مهني </a>
            </li>
            <li class="nav-item px-3" *ngIf="!isLoggedIn&&!isAdminLogin">
              <a  class="nav-link text-dark text-decoration-none"
              routerLink="user/loginUser"
              routerLinkActive
              >تسجيل دخول</a>
            </li>

              <li class="nav-item px-3"
              *ngIf="isLoggedIn&&isUserLogin">
                <a   class="nav-link"
                routerLink="user/profile"
                routerLinkActive
                >{{ username }}</a>
              </li>
              <li class="nav-item px-3" *ngIf="isLoggedIn&&isWorkerLogin">
                <a   class="nav-link" routerLink="user/profile-worker" routerLinkActive>{{ username }}</a>
              </li>
              <li class="nav-item px-3"  *ngIf="isLoggedIn">
                <a  class="text-decoration-none text-danger nav-link" (click)="logout()">تسجيل الخروج</a>
              </li>
              <li class="nav-item"  *ngIf="isAdminLogin">
                <a   class="nav-link" (click)="logout()">تسجيل الخروج</a>
              </li>


        </ul>

      </div>
    </div>

  </div>
</nav>


<div class="body-section">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
