<nav class="uk-navbar-container uk-dark" uk-navbar data-uk-sticky uk-navbar="boundary-align: true; align: right;">

  <div class="uk-container uk-navbar-right">
    <div class="uk-navbar-right">

      <ul class="uk-navbar-nav uk-navbar-right">

        <li>
          <!-- admin -->
          <a routerLink='/admin/dashboard'>لوحة التحكم</a>

        </li>


        <li><a routerLink='/home'>الصفحة الرئيسية </a></li>

        <li><a routerLink='/service-us'>خدماتنا </a></li>

        <li><a routerLink='/Q&A'>الأسئلة الشائعة</a></li>
<!-- searchWorker -->
        <li><a routerLink='/searchWorker'>البحث عن خدمة </a></li>

          <li class="uk-navbar-right" *ngIf="!isLoggedIn&&!isAdminLogin">
            <a  class="" routerLink="user/registerUser">أنشاء حساب </a>
          </li>
          <li class="uk-navbar-right" *ngIf="!isLoggedIn&&!isAdminLogin">
            <a  class="" routerLink="user/registerWorker">أنشاء حساب مهني </a>
          </li>
          <li class="" *ngIf="!isLoggedIn&&!isAdminLogin">
            <a class=""
            routerLink="user/loginUser"
            routerLinkActive
            >تسجيل دخول</a>
          </li>

            <li class=""
            *ngIf="isLoggedIn&&isUserLogin">
              <a  class=""
              routerLink="user/profile"
              routerLinkActive
              >{{ username }}</a>
            </li>
            <li class="" *ngIf="isLoggedIn&&isWorkerLogin">
              <a  class="" routerLink="user/profile-worker" routerLinkActive>{{ username }}</a>
            </li>
            <li class=""  *ngIf="isLoggedIn">
              <a  class="" (click)="logout()">تسجيل الخروج</a>
            </li>
            <li class=""  *ngIf="isAdminLogin">
              <a  class="" (click)="logout()">تسجيل الخروج</a>
            </li>


      </ul>

    </div>
  </div>
</nav>


<div class="body-section">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
