<div class="uk-section uk-section-secondary footer-section">
  <div class="uk-container">
    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
      <div>
        <h3>معلومات التواصل </h3>
        <ul class="uk-list uk-list-divider">
          <li>رقم الهاتف : 0968825014</li>
          <li>البريد الألكتروني : taha.aloklaa1996@gmail.com</li>
          <li>فريق العمل :ice tea team</li>
        </ul>
      </div>
      <div>
        <h3>روابط تهمك</h3>
        <ul class="uk-list uk-list-primary  uk-align-right">
          <li class="uk-margin-left"><a class="uk-link-toggle" >
              <span class="uk-link-heading uk-text-large uk-text-primary">من نحن</span>
            </a>
          </li>
          <li><a class="uk-text-large uk-text-primary" routerLink='/contact'>
           تواصل معنا
          </a>
        </li>

        </ul>
      </div>
      <div>
        <p class="lead">جميع الحقوق محفوظة لمنصة مهني للصيانة المنزلية </p>
      </div>
    </div>
    <a href="#" uk-totop uk-scroll class="uk-text-large uk-text-bolder uk-text-success">up</a>
  </div>
</div>
